/* custom.css */
/* Add your custom styles here */

/* Style the form */
.container{
   background-image: var(rgb(112, 108, 84));
}
form {
    background: rgb(100, 42, 42);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flow-root;
}

/* Style the form labels */
.form-label {
    font-weight: bold;
}

/* Adjust the button margin */
.btn {
    margin-top: 10px;
}

/* Style the input placeholders */
.form-control::placeholder {
    color: #999;
}

/* Style the input on focus */
.form-control:focus {
    border-color: #13273d;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);;
}
